body {
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

}

.color-picker {
    display: flex;
}

button {
    border-radius: 15px;
    color: black;
    background-color: yellow;
}

.flex-container {
    max-width: 960px;
    display: flex;
    border: solid black;
    padding: 32px;
    justify-content: center;
    align-items: center;
}


.grid-container {
    max-width: 960px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.grid-item {
    border: solid black;
    padding: 16px;
    background-color: white;
}

