body {
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    text-align: center;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

}

.color-picker {
    display: flex;
}

button {
    border-radius: 15px;
    color: black;
    background-color: yellow;
}

#flex-container {
    display: flex;
    flex-flow: wrap column;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
}

/* styles for the grid container */
.grid-container {
    border: solid black;

    display: grid;
    justify-content: center;

    margin: 0 auto;
    width: 960px;
    height: 700px;
    overflow: hidden;
}

/* styles for each individual generated box */
.grid-item {
    padding: 5px;
    background-color: white;

    min-height: 0;
    min-width: 0;
    max-width: 960px;
    max-height: 960px;
    overflow: hidden;
}

