.flex-container {
    max-width: 960px;
    display: flex;
    border: solid black;
    margin: 32px;
    padding: 32px;
    justify-content: stretch;
    align-items: stretch;
}


.grid-container {
    max-width: 960px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.grid-item {
    border: solid black;
    padding: 16px;
}

